.column-item {
  padding: 0.5em;
  border-radius: 0.5em;
}

.story-item {}

.story-item.generating {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 166, 0, 0.3), rgba(255, 255, 0, 0.3), rgba(0, 128, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(76, 0, 130, 0.3), rgba(238, 130, 238, 0.3), rgba(255, 0, 0, 0.3));
  background-size: 200% 100%;
  animation: strobe 4s linear infinite;
}

.story-item.error {
  background-color: rgba(255, 0, 0, 0.3);
  background-color: rgb(0, 89, 95);
}

.story-item.choice {
  background-color: rgba(0, 255, 208, 0.3);
}

.story-item.description {
  background-color: rgba(0, 30, 255, 0.167);
}

.menu-item {}

.menu-item.generating {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 166, 0, 0.3), rgba(255, 255, 0, 0.3), rgba(0, 128, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(76, 0, 130, 0.3), rgba(238, 130, 238, 0.3), rgba(255, 0, 0, 0.3));
  background-size: 200% 100%;
  animation: strobe 4s linear infinite;
}

.menu-item.waiting_for_story {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 166, 0, 0.3), rgba(255, 255, 0, 0.3), rgba(0, 128, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(76, 0, 130, 0.3), rgba(238, 130, 238, 0.3), rgba(255, 0, 0, 0.3));
  background-size: 200% 100%;
  animation: strobe 4s linear infinite;
}

.menu-item.error {
  background-color: rgba(255, 0, 0, 0.3);
}

.menu-item.choice {
  background-color: rgba(0, 255, 208, 0.3);
  cursor: pointer;
}

.menu-item.choice,
.menu-item.choice:hover {
  transition-duration: 0.5s;
  transition-property: box-shadow;
}

.menu-item.choice:hover {
  box-shadow:
    0.2em 0.2em 0 0 black,
    -0.2em -0.2em 0 0 black;
}

/* Define the strobe animation keyframes */
@keyframes strobe {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 200%;
  }
}